@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
}

header{
    display: flex;
    padding: 2%;
    /* background-color: #301cc4 ; */
    background-color: #007acc ;
    color: white;
    align-items: center;
    justify-content: space-between;
}

.menu a{
    text-decoration: none;
    color: white;
    margin-left: 5px;
}

button{
    background-color: #f21d41;
    color: white;
    padding: 10px;
    border-radius: 5px;
    border-color: #da1738;
    margin-top: 10px;
    width: 100px;
}

button:hover{
    cursor: pointer;
}

.corpo1{
    display: flex;
    width: 100%;
    align-items: center;
    text-align: center;
    flex-direction: column;
    padding: 2%;
}
.corpo{
    display: flex;
    width: 100%;
    text-align: center;
    flex-direction: column;
    padding: 2%;
}

.objetivo{
    margin-top: 20px;
    height: 250px;
}

.objetivo h3{
    margin-bottom: 10px;
}
.objetivo p{
    margin-bottom: 10px;
    line-height: 1.5;
}
.time{
    height: 200px;
}
.time h3{
    margin-bottom: 10px;
}
.time p{
    margin-bottom: 10px;
}

.equipe{
    display: flex;
    flex-direction: row;
    align-items: center; 
    text-align: center;
    width: 60%;
    justify-content: space-between;
}

.img-desenvolvedor img {
    width: 150px;
    height: 150px; 
    border-radius: 75px;
}
.info-dev a img{
    width: 30px;
    height: 30px;
}
.topo{
    line-height: 1.5;
    text-align: justify;
}
.subtitulo-sobre{
    margin-bottom: 30px;
} 
footer{
    text-align: center;
    font-size: small;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.exemplo{
    padding: 15px;
    border: 2px solid #ddd;
    background-color: #ddd;
    border-radius: 5px;
    text-align: left;
    line-height: 1.4;
    margin-bottom: 20px;
}

.codigo{
    border-left: 5px solid #007acc;
    background-color: #3e3e42;
    color: #ddd;
}
pre{
    padding-right: 25px;
    text-align: left;
    min-width: 470px;
}

.center{
    max-width: 1200px;
    text-align: center;
    margin: 0 auto;
}

.definicao{
    text-align: justify;
}
.atributos{
    text-align: justify;
}

h2.sub-titulo, p{
    margin-bottom: 10px;
}


/* Estilo para a tabela */
table {
    border-collapse: collapse; /* Combina as bordas das células em uma única borda */
    width: 100%; /* Define a largura da tabela como 100% da largura do contêiner pai */
    font-family: Arial, sans-serif; /* Define a fonte do texto na tabela */
  }
  
  /* Estilo para as células do cabeçalho da tabela */
  th {
    background-color: #f2f2f2; /* Cor de fundo do cabeçalho da tabela */
    color: #333; /* Cor do texto no cabeçalho da tabela */
    font-weight: bold; /* Define o texto em negrito */
    padding: 8px; /* Espaçamento interno das células do cabeçalho */
    border: 1px solid #ddd; /* Borda das células do cabeçalho */
  }
  
  /* Estilo para as células da tabela */
  td {
    /*text-align: justify;*//*Alinhamento do texto nas celulas*/
    padding: 8px; /* Espaçamento interno das células */
    border: 1px solid #ddd; /* Borda das células */
  }
  
  /* Estilo para linhas alternadas (opcional) */
  tr:nth-child(even) {
    background-color: #f2f2f2; /* Cor de fundo das linhas pares */
  }

  